{% extends 'base.html' %}
{% load highlight %}

{% block main %}
    {% if query %}
        {% for result in page.object_list %}
            <article class="article article-{{ result.object.pk }}">
                <div class="article-main">
                    <div class="article-thumb">
                        <a href="{{ result.object.get_detail_url }}"><img src="{{ result.object.get_thumb_url }}"></a>
                    </div>
                    <div class="article-body">
                        <h2 class="article-title">
                            <a href="{{ result.object.get_detail_url }}">{% highlight result.object.title with query max_length 90%}</a>
                        </h2>
                        <div class="article-auth">
                            <span class="article-date">
                                <a href="javascript:void(0);"><time datetime="{{ result.object.date_created }}">{{ result.object.date_created|date:'Y-m-d' }}</time></a>
                            </span>
                            <span class="article-author"><a href="javascript:void(0);">{{ result.object.author }}</a></span>
                        </div>
                        <p class="article-remark">
                            {% highlight result.object.content with query max_length 90 %}
                        </p>
                        <div class="article-meta">
                            <span class="article-category"><a href="{% url 'blog:category' result.object.category.pk %}">{{ result.object.category.name }}</a></span>
                            <span class="comments-link"><a href="javascript:void(0);"><i class="icon ion-ios-chatboxes"></i> {{ result.object.comment_set.count }}</a></span>
                            <span class="views-count"><a href="javascript:void(0);"><i class="icon ion-eye"></i> {{ result.object.count }}</a></span>
                        </div>
                    </div>
                </div>
            </article>
            <div class="clearfix"></div>
        {% empty %}
            <div class="no-article">没有搜索到你想要的结果！</div>
        {% endfor %}

        {% if is_paginated %}
            <div class="pagination-div">
                <div class="pagination">
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a>
                    {% else%}
                        <a class="disActive" href="javascript:void(0);">上一页</a>
                    {% endif %}
                    <span>第 {{ page.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
                    {% if page.has_next %}
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页</a>
                    {% else%}
                        <a class="disActive" href="javascript:void(0);">下一页</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% else %}
        请输入搜索关键词
    {% endif %}
{% endblock %}