{% extends 'base.html' %}

{% block main %}
    <div class="main-title">
        <span>文章{% if mainTitleName %}-{{ mainTitleName }}{% endif %}</span>
        <span><a href="{% url 'blog:rss' %}" target="_blank">RSS订阅</a></span>
    </div>
    {% for article in articles %}
        <article class="article article-{{ article.pk }}">
            <div class="article-main">
                <div class="article-thumb">
                    <a href="{{ article.get_detail_url }}"><img src="{{ article.get_thumb_url }}"></a>
                </div>
                <div class="article-body">
                    <h2 class="article-title">
                        <a href="{{ article.get_detail_url }}">{{ article.title }}</a>
                    </h2>
                    <div class="article-auth">
                        <span class="article-date">
                            <a href="javascript:void(0);"><time datetime="{{ article.date_created }}">{{ article.date_created|date:'Y-m-d' }}</time></a>
                        </span>
                        <span class="article-author"><a href="javascript:void(0);">{{ article.author }}</a></span>
                    </div>
                    <p class="article-remark">
                        {{ article.remark }}
                    </p>
                    <div class="article-meta">
                        <span class="article-category"><a href="{% url 'blog:category' article.category.pk %}">{{ article.category.name }}</a></span>
                        <span class="comments-link"><a href="javascript:void(0);"><i class="icon ion-ios-chatboxes"></i> {{ article.comment_set.count }}</a></span>
                        <span class="views-count"><a href="javascript:void(0);"><i class="icon ion-eye"></i> {{ article.count }}</a></span>
                    </div>
                </div>

            </div>
        </article>
        <div class="clearfix"></div>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination-div">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                {% else%}
                    <a class="disActive" href="javascript:void(0);">上一页</a>
                {% endif %}
                <span>第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                {% else%}
                    <a class="disActive" href="javascript:void(0);">下一页</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}