{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Toplhyi</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">

    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/headroom.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
</head>

<body>
<div id="main-header" class="main-header">
    <header id="site-header" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>Toplhyi</b></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:archives' %}" data-hover="归档">归档</a></li>
                            <li class="cl-effect-11"><a href="{% url 'contact:index' %}" data-hover="联系">联系</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>

            <aside class="col-md-4">
                <div class="widget widget-profile">
                    <div class="widget-photo">
                        <img src="{% static 'blog/img/me.jpg' %}">
                        <div class="widget-username">Toplhyi</div>
                        <div class="widget-motto">最怕一生碌碌无为，还说平凡难能可贵</div>
                    </div>
                    <div class="widget-count">
                        {% count_articles as articleCount %}
                        {% count_category as categoryCount %}
                        {% count_tags as tagCount %}
                        <div><span>{{ articleCount }}</span><br/>文章</div>
                        <div><span>{{ categoryCount }}</span><br/>分类</div>
                        <div><span>{{ tagCount }}</span><br/>标签</div>
                    </div>
                </div>

                {% block articleMenu %}
                {% endblock %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title"><i class="icon ion-social-designernews-outline mgr10"></i>最新文章</h3>
                    {% get_recent_articles as recent_articles %}
                    <ul>
                        {% for article in recent_articles %}
                            <li>
                                <i class="icon ion-ios-arrow-right ft16"></i>
                                <a href="{{ article.get_detail_url }}">{{ article.title }}</a>
                            </li>
                        {% empty %}
                            暂无文章
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    {% get_categories as categories %}
                    <h3 class="widget-title"><i class="icon ion-ios-pricetags-outline mgr10"></i>分类</h3>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <i class="icon ion-ios-pricetags-outline ft16"></i>
                                <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.article_num }})</span></a>
                            </li>
                        {% empty %}
                            暂无分类
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    {% get_tags as tags %}
                    <h3 class="widget-title"><i class="icon ion-link mgr10"></i>标签</h3>
                    <ul>
                        {% for tag in tags %}
                            <li>
                                <i class="icon ion-paperclip ft16"></i>
                                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}<span class="post-count">({{ tag.article_num }})</span></a>
                            </li>
                        {% empty %}
                            暂无标签
                        {% endfor %}
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2018 toplhyi
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li><a href="{% url 'blog:archives' %}">归档</a></li>
            <li><a href="{% url 'contact:index' %}">联系</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>
